stack-layout, grid-layout {
    horizontal-align: center;    
}

button {
    font-size: 12;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

.padded {
    padding: 0 10;
}

.even {
    background-color: #DDDDDD;
    padding: 0 10;
}
.odd {
    padding: 0 10;
}

/* Settings */

.settings-button {
	background-color: #77091B32;
	horizontal-align: left;
	vertical-align:  middle;
    width: 150;

}

.settings-label {
	horizontal-align: left;
	vertical-align:  middle;
}
