<StackLayout>
	<Button (tap)="refreshFromServer()" text="Refresh"></Button>
	<TabView>
		<StackLayout *tabItem="{title: teamName1}" >
			<ActivityIndicator [busy]="isLoading1" [visibility]="isLoading1 ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
        	<ListView [items]=roster1>
	            <template let-item='item' let-odd="odd" let-even="even">
		            <GridLayout columns="50, *, *, 50, 50" [class.odd]="odd" [class.even]="even">
		                <Label class="left" col="0" [text]='item.no' ></Label>
		                <Label class="left" col="1" [text]='item.lastName' horizontalAlignment="left"></Label>
		                <Label class="left" col="2" [text]='item.firstName' horizontalAlignment="left"></Label>
		                <Label class="left" col="3" [text]='item.position' ></Label>
		                <Label class="left" col="4" [text]='item.schoolClass' ></Label>	                
		            </GridLayout>
	            </template>
	        </ListView>
	    </StackLayout>
	    <StackLayout *tabItem="{title: teamName2}">
			<ActivityIndicator [busy]="isLoading2" [visibility]="isLoading2 ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
	    	<ListView [items]=roster2>
	            <template let-item='item' let-odd="odd" let-even="even">
		            <GridLayout columns="50, *, *, 50, 50" [class.odd]="odd" [class.even]="even">
		                <Label col="0" [text]='item.no'></Label>
		                <Label col="1" [text]='item.lastName' horizontalAlignment="left"></Label>
		                <Label col="2" [text]='item.firstName' horizontalAlignment="left"></Label>
		                <Label col="3" [text]='item.position'></Label>
		                <Label col="4" [text]='item.schoolClass'></Label>	                
		            </GridLayout>
	            </template>
	        </ListView>
	    </StackLayout>
	</TabView>
	

	<!-- <ListPicker #teamPicker items={{teams}} (selectedIndexChange)="selectedTeamChanged(teamPicker)"></ListPicker>     -->
	
</StackLayout>
