<ActionBar title="Change Team">
	<NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>	
</ActionBar>

<StackLayout>
	<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
	<ListView [items]=teamList (itemTap)="onTeamSelect($event)">
        <template let-item='item' let-odd="odd" let-even="even">
            <GridLayout columns="*" [class.odd]="odd" [class.even]="even" class="padded">
                <Label class="left" col="0" [text]='item.name' horizontalAlignment="left"></Label>            
            </GridLayout>
        </template>
    </ListView>
</StackLayout>
